.size-panel {
    -fx-arrow-space: 3;
    -fx-background-color: gray;
}

.size-panel .resized-node {
    -fx-border-color: red;
    -fx-border-width: 2;
}

.arrow {
    -fx-pref-width: 15;
    -fx-pref-height: 7;
}

.arrow:selected {
    -fx-fill: blue;
}