.size-panel {
    -fx-arrow-space: 3;
    -fx-background-color: gray;
}

.arrow {
    -fx-pref-width: 15;
    -fx-pref-height: 7;
}

.arrow:selected {
    -fx-fill: blue;
}

.size-panel:selected .resized-node {
    -fx-border-width: 1;
    -fx-border-style: segments(5);
}